@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mainButton($background-color: red, $color: gray ){
 
    border-radius: 15px;
    font-size: 2rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    background-color: $background-color;
    color: $color;
}